<div class="col-md-12" style="margin-top:100px">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
          	<center>
				<h3> <%= @user.name %>'s Profile </h3>
				<p>Name: <%= @user.name if @user.name %></p>
				<p>Join Date: <%= @user.created_at.strftime("%m/%d/%Y") if @user.created_at %></p>
				<p>Posts:
					<% if @user.posts.empty? %>
						User has not uploaded any photos :(
					<% end %>
					<% @user.posts.reverse.each do |p| %>
					<ul>
						<% if p != NIL %>
							<%= render p %>
						<% end %>
					</ul>
					<h4>Add a comment:</h4>
		            <%= form_for([p, p.comments.build]) do |f| %>
		              <div class="field">
		                <%= f.label :body %><br />
		                <%= f.text_area :body %>
		              </div>
		              <div class="actions">
		                <%= f.submit %>
		              </div>
		            <% end %>
		            <br/>
		          <% if p.comments.first.body == NIL %>
		          <h4>Comments:</h4>
		          <p> No comments yet :( </p>
		          <% else %>
		          <h4>Comments:</h4>
		          <% p.comments.each do |comment| %>
		              <%if comment.commenter != NIL %>
		              <h6>
		                <b><%= comment.commenter %> says:</b>
		                "<%= comment.body %>"
		              </h6>
		              <%end%>
		          <% end %>
		          <% end %>
					<% end %>
			</center>
        </div>
    </div>
  </div>
</div>