<div class="col-md-12" style="margin-top:100px">
  <div id="loginModal" class="modal show" style="position:relative; overflow:auto;">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
			<h3> <%= @user.name %>'s Profile </h3>
			<p>Name: <%= @user.name if @user.name %></p>
			<p>Join Date: <%= @user.created_at if @user.created_at %></p>
			<p>Posts: <%= @user.posts.each do |p| %>
				<ul>
					<% if p != NIL %>
						<%= link_to image_tag(p.image.url, class: 'media-object'), p.image.url, target: '_blank' %>
					<% end %>
				</ul>
				<% end %>
			</p>
        </div>
      </div>
    </div>
  </div>
</div>