<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->

<div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 200px">
  <div class="row">
    <div class="mbr-box mbr-box--fixed mbr-box--adapted">
      <div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-6" style="padding-left: 200px">

        <% @top = Post.new %>
        <% if @posts %>
            <% @top = @posts.first %>
            <% @posts.each do |post| %>
                <% if post.likes > @top.likes %>
                    <% @top = post %>
                <% end %>
            <% end %>
        <% end %>
        <% if @top != NIL%>
            <br/>
            <%= link_to image_tag(@top.image(:medium), class: 'media-object'), @top.image(:medium), target: '_blank' %>
            <h4>Featuring <%= @top.caption %> with a whopping <%= @top.likes %> likes! </h4>
        <% end %>
      </div>
      <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-6 mbr-section__right">
        <div class="mbr-section__container mbr-section__container--middle">
          <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
            <h3 class="mbr-header__text">Featuring the Top Dog of Berkeley</h3>

          </div>
        </div>
        <div class="mbr-section__container mbr-section__container--middle">
          <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg">
            <p>
              Find who's the top dog of Berkeley! The domestic dog (Canis lupus familiaris or Canis familiaris) is a domesticated canid which has been selectively bred for millennia for various behaviors, sensory capabilities, and physical attributes.
            </p>
          </div>
        </div>
        <div class="mbr-section__container">
          <div class="mbr-buttons mbr-buttons--auto-align btn-inverse"><a class="btn btn-lg btn-default" href="http://www.youtube.com/c/mobirise" target="_blank">To see more dogs</a></div>
        </div>
      </div>

    </div>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">

          <hr class="small">
          <center>
          </center>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            Featuring other top dogs of Berkeley...
          </h2>
          <h3 class="post-subtitle">
            Problems look mighty small from 150 miles up
          </h3>
        </a>
        <p class="post-meta">Posted by <a href="#">Top Dogs of Berkeley</a> on September 24, 2014</p>
      </div>
      <hr>
      <div class="post-preview">
          <h2 class="post-title">
            <center>
              All Dogs
              <% @top = Post.new %>
              <% if @posts %>
              <% @top = @posts.first %>
                <% @posts.each do |post| %>
                  <%= link_to image_tag(post.image(:medium), class: 'media-object'), post.image(:medium), target: '_blank' %>
                  <h4>Featuring <%= post.caption %> with a whopping <%= post.likes %> likes! </h4>
                <% end %>
              <% end %>
            </center>
          </h2>
        <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            Science has not yet mastered prophecy
          </h2>
          <h3 class="post-subtitle">
            We predict too much for the next year and yet far too little for the next ten.
          </h3>
        </a>
        <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            Failure is not an option
          </h2>
          <h3 class="post-subtitle">
            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
          </h3>
        </a>
        <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
      </div>
      <hr>
      <!-- Pager -->
      <ul class="pager">
        <li class="next">
          <a href="#">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>



