<div class="col-md-12" style="margin-top:100px">
  <div id="loginModal" class="modal show" style="position:relative; overflow:auto;">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h1>Edit Caption</h1>

            <%= form_for @post do |f| %>
              <%= render 'shared/errors', object: @post %>

              <p>
                <%= f.label :caption %>
                <%= f.text_field :caption %>
              </p>

              <%= f.submit 'Save changes' %>
              <%= button_to 'Cancel', home_path(), :class => "button medium", :method => :get %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>